<a href="https://colab.research.google.com/github/dhasaradhanvmrf/Dhasaradhan-VMRF/blob/master/Breast_cancer_detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sys
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import pandas as pd
import sklearn

from sklearn import preprocessing
from sklearn.model_selection import train_test_split, KFold, cross_val_score
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.metrics import classification_report, accuracy_score
from pandas.plotting import scatter_matrix

Version Checking

In [2]:
print('Python: {}'.format(sys.version))
print('Numpy: {}'.format(np.__version__))
print('Matplotlib: {}'.format(matplotlib.__version__))
print('Pandas: {}'.format(pd.__version__))
print('Scikit-learn: {}'.format(sklearn.__version__))

Python: 3.7.11 (default, Jul  3 2021, 18:01:19)
[GCC 7.5.0]
Numpy: 1.19.5
Matplotlib: 3.2.2
Pandas: 1.1.5
Scikit-learn: 0.22.2.post1

Dataset Load

In [3]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/breast-cancer-wisconsin/breast-cancer-wisconsin.data'
names = ['id', 'clump_thickness', 'uniform_cell_size', 'uniform_cell_shape', 
         'marginal_adhesion', 'single_epithelial_size', 'bare_nuclei',
         'bland_chromatin', 'normal_nucleoli', 'mitoses', 'class']

df = pd.read_csv(url, names=names).replace('?', np.nan).dropna()

In [4]:
df.head()

        id  clump_thickness  uniform_cell_size  ...  normal_nucleoli  mitoses  class
0  1000025                5                  1  ...                1        1      2
1  1002945                5                  4  ...                2        1      2
2  1015425                3                  1  ...                1        1      2
3  1016277                6                  8  ...                7        1      2
4  1017023                4                  1  ...                1        1      2

[5 rows x 11 columns]

Data preprocessing

In [5]:
# Drop useless feature for classification
df.drop(['id'], axis=1, inplace=True)

**Summarise Data**

In [6]:
print(df.describe())

       clump_thickness  uniform_cell_size  ...     mitoses       class
count       683.000000         683.000000  ...  683.000000  683.000000
mean          4.442167           3.150805  ...    1.603221    2.699854
std           2.820761           3.065145  ...    1.732674    0.954592
min           1.000000           1.000000  ...    1.000000    2.000000
25%           2.000000           1.000000  ...    1.000000    2.000000
50%           4.000000           1.000000  ...    1.000000    2.000000
75%           6.000000           5.000000  ...    1.000000    4.000000
max          10.000000          10.000000  ...   10.000000    4.000000

[8 rows x 9 columns]

**Split Train and Test the data **bold text**

In [7]:
X = df.drop(['class'], axis=1).to_numpy()
y = df['class'].to_numpy()

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

**Models Train**

In [9]:
seed = 8
scoring = 'accuracy'

In [10]:
models = []
models.append(('KNN', KNeighborsClassifier(n_neighbors=5)))
models.append(('SVM', SVC()))

# Evaluate each model in turn
results = []
names = []

for name, model in models:
    kfold = KFold(n_splits=10, random_state=seed, shuffle=True)
    cv_results = cross_val_score(model, X_train, y_train, cv=kfold, scoring=scoring)
    results.append(cv_results)
    names.append(name)
    msg = "%s: %f (%f)" % (name, cv_results.mean(), cv_results.std())
    print(msg)

KNN: 0.963401 (0.018219)
SVM: 0.972525 (0.014787)

**Predictions**

In [11]:
for name, model in models:
    model.fit(X_train, y_train)
    predictions = model.predict(X_test)
    print(name)
    print(accuracy_score(y_test, predictions))
    print(classification_report(y_test, predictions))

KNN
0.9781021897810219
              precision    recall  f1-score   support

           2       0.99      0.98      0.99       101
           4       0.95      0.97      0.96        36

    accuracy                           0.98       137
   macro avg       0.97      0.98      0.97       137
weighted avg       0.98      0.98      0.98       137

SVM
0.9708029197080292
              precision    recall  f1-score   support

           2       1.00      0.96      0.98       101
           4       0.90      1.00      0.95        36

    accuracy                           0.97       137
   macro avg       0.95      0.98      0.96       137
weighted avg       0.97      0.97      0.97       137

**Another method for get accuracy**

In [12]:
clf = SVC()
clf.fit(X_train, y_train)
accuracy = clf.score(X_test, y_test)
print(accuracy)

0.9708029197080292

**Sample testing**

In [13]:
example = np.array([[4, 2, 1, 1, 1, 2, 3, 2, 10]])
example = example.reshape(len(example), -1)
prediction = clf.predict(example)
print(prediction)

[4]

In [14]:
example = np.array([[10, 2, 1, 1, 1, 2, 3, 2, 10]])
example = example.reshape(len(example), -1)
prediction = clf.predict(example)
print(prediction)

[4]